## Notebook Material Credits
- Alfred Essa ( @alfessa )
- Harrison Kinsley ( @sentdex )
- Verena Kaynig-Fittkau (Harvard CS)

In [1]:
import pandas as pd
import numpy as np

In [2]:
s1= pd.Series([33,19,15,89,11,-5,9])
print s1

0    33
1    19
2    15
3    89
4    11
5    -5
6     9
dtype: int64

In [3]:
s1[0],s1[3]

(33, 89)

In [4]:
type(s1)

pandas.core.series.Series

In [5]:
data1= [33,19,15,89,11,-5,9]
index1= ['mon','tue','wed','thu','fri','sat','sun']
s2= pd.Series(data1, index=index1)
print s2

mon    33
tue    19
wed    15
thu    89
fri    11
sat    -5
sun     9
dtype: int64

In [6]:
s2['mon']

33

In [12]:
s2['wed':'fri']

Weekday
wed    15
thu    89
fri    11
Name: Daily temperature, dtype: int64

In [15]:
s2[3:5]

Weekday
thu    89
fri    11
Name: Daily temperature, dtype: int64

In [8]:
s2.name= 'Daily temperature'
s2.index.name= 'Weekday'
print s2

Weekday
mon    33
tue    19
wed    15
thu    89
fri    11
sat    -5
sun     9
Name: Daily temperature, dtype: int64

In [9]:
dict1= {'mon':33, 'tue':19.7, 'wed':15, 'thu':89}
s4= pd.Series(dict1)
print s4

mon    33.0
thu    89.0
tue    19.7
wed    15.0
dtype: float64

In [10]:
print s4 * 2

mon     66.0
thu    178.0
tue     39.4
wed     30.0
dtype: float64

In [16]:
data2= [33,19.6,15,89,11,-5,9]
s3= pd.Series(data2, index= index1)
print s3

mon    33.0
tue    19.6
wed    15.0
thu    89.0
fri    11.0
sat    -5.0
sun     9.0
dtype: float64

In [17]:
s3['fri']= 17.3
s3[2]= 23.4
print s3

mon    33.0
tue    19.6
wed    23.4
thu    89.0
fri    17.3
sat    -5.0
sun     9.0
dtype: float64

In [18]:
s3.median()

19.6

In [19]:
s3.sum()

186.3

In [20]:
s3.cumsum()

mon     33.0
tue     52.6
wed     76.0
thu    165.0
fri    182.3
sat    177.3
sun    186.3
dtype: float64

In [25]:
for k,v in s3.iteritems():
    print k, v

mon 33.0
tue 19.6
wed 23.4
thu 89.0
fri 17.3
sat -5.0
sun 9.0

In [22]:
new = [x**2 for x in s3]
print new

[1089.0, 384.16000000000008, 547.55999999999995, 7921.0, 299.29000000000002, 25.0, 81.0]

In [23]:
'sun' in s3

True

In [24]:
'moon' in s3

False